/*Buat custom font family pada menu*/

@font-face {
    font-family: 'font_menu';
    src: url("../fonts/Sqr721bi.ttf") format('truetype');
}
/*Buat custom font family pada konten*/

@font-face {
    font-family: 'font_konten';
    src: url("../fonts/Andale_Mono.ttf") format('truetype');
}

.navbar {
    background-color: #5A5A5A;
    height: 55px;
}

.logoin {
    background-image: url("../img/logos.png");
    background-repeat: no-repeat;
    height: 33px;
    width: auto;
}

.header {
    height: 55px;
    width: 815px;
    margin: 0 auto;
}

.list-menu {
    position: relative;
    top: 10%;
}

.list-menu li a {
    font-family: 'font_menu';
    color: white;
}

.list-menu li a:hover {
    background-color: darkgrey;
}

.forlogo {
    padding-top: 11px;
    padding-left: 0;
}

.formenu {
    padding-top: 8px;
}

.sampul {
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    height: 350px;
    width: 815px;
    margin: 0 auto;
}

.profil {
    padding: 0;
    width: 815px;
    height: 845px;
    margin: 0 auto;
    background-color: lightgray;
}

.profil-title {
    padding: 80px 0 0 0;
    text-align: center;
    font-size: 17pt;
    font-family: 'font_konten';
}

.profil-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 815px;
    height: 300px;
    text-align: center;
    
}

.strong {
    padding: 0;
    margin-right: 10px;
    margin-left: 13px;
    
}

.speed {
    padding: 0;
    margin: 0 6px 0 3px;
    
}

.sipp-main {
    padding: 0;
    margin: 0;
    
}

.flow {
    padding: 0;
    margin: 0 3px 0 6px;
    
}

.philo {
    padding: 0;
    margin-left: 10px;
    margin-right: 13px;
    
}

.content {
    padding-top: 55px;
}